body {
    background-color: #FBEFDB;
}

nav {
    background-color: #D48E24;
    padding: 15px;
}

nav a{
    color: white;
    margin: 15px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}
nav a:first-child img{
    width: 40px;
}
.banner{
    position: relative;
    width: auto;
    height: 350px;
    background: url(./főoldal+blog_kepek/fo_oldal.jpg);
    height: 900px; 
    background-position: center; 
    background-size: cover;
}

#fo_info {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    top: 570px;
    background: linear-gradient(180deg, #D48E24 0%, rgba(212, 142, 36, 0) 100%, rgba(212, 142, 36, 0.854167) 100%);
    text-align: center;
}

#fo_info h5{
    font-family: 'Fredericka the Great';
}

#fo_info p{
    font-family: 'Fondamento';
}

/*BOTI itt kezdődik a lábléc css-része */
.footer{
    background-color: #D48E24;
    color: #fff;
}
footer li{
    list-style-type: none;
}
/*BOTI itt végződik a lábléc css-része */