body {
    background-color: #FBEFDB; 
}

nav {
    background-color: #D48E24;
    padding: 15px;
}

nav a{
    color: white;
    margin: 15px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}
nav a:first-child img{
    width: 40px;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    color: #D48E24;
    text-align: center;
}
.kave{
    color:#D48E24;
    background-color: #fff;
    border: 1px solid #D48E24;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.kave:hover{
    box-shadow: 0px 0px 5px #D48E24;
}
.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}