body{
    background-image: url(./extra_tartalom/suti5.jpg);
    position: relative;
    width: auto;
    height: 350px;
    height: 900px; 
    background-position: center; 
    background-size: cover;

}
.tud2{
    color: black;
    text-align: center;
    text-align: justify;
}
h1{
    color: black;
    text-align: center;
}
#napiajanlat{
    width: 60px;
    position: absolute;
    top: 10px;
    right: 20px;
}
h4{
    color: black;
}
a{
    text-decoration: none;
}